.article {
    margin-top: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.more {
    display: flex;
    justify-content: center;
}

.button {
    padding: 20px 30px;
    background-color: var(--element-color);
    border-radius: 30px;
    font-size: 20px;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}